{% extends "base_pro.html" %}

{% block title %}Supprimer Utilisateur{% endblock %}

{% block content %}
<div class="py-4">
    <h1 class="display-5 fw-bold text-dark mb-4">
        Confirmer la Désactivation
    </h1>
    
    <div class="alert alert-warning shadow-sm">
        <p class="h5">Êtes-vous sûr de vouloir **désactiver** l'utilisateur : <span class="fw-bold">{{ user_a_supprimer.username }}</span> ?</p>
        <p class="small">Cette action mettra l'utilisateur comme inactif. Il ne pourra plus se connecter.</p>
    </div>

    <div class="card shadow-lg">
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                
                <div class="d-flex justify-content-between">
                    <a href="{% url 'tableau_bord_utilisateurs' %}" class="btn btn-secondary">
                        <i class="fas fa-arrow-left"></i> Annuler
                    </a>
                    <button type="submit" class="btn btn-danger shadow-sm">
                        <i class="fas fa-trash-alt"></i> Oui, Désactiver
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}