{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Confirmation de Commande - PROJET NATAL MBEY</title>
    </head>
<body>
    <div class="container mt-5 text-center">
        <h1 class="text-success">Merci pour votre commande !</h1>
        
        <p class="lead">Votre commande numéro **{{ commande.id }}** a été enregistrée et le paiement est **validé**.</p>
        <p>Montant total : **{{ commande.total_prix|floatformat:0 }} FCFA**</p>
        
        <a href="{% url 'liste_produits' %}" class="btn btn-primary btn-lg mt-4">
            <i class="fas fa-shopping-basket"></i> Continuer vos achats
        </a>
        
        <p class="mt-3">
            <a href="{% url 'details_commande' commande.id %}">Voir le récapitulatif de ma commande</a>
        </p>

    </div>

    </body>
</html>